<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" href="{% static 'images/GrayBall_dark_icon.png' %}" type="image/png">
    {% block additional_css %}{% endblock %}
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="logo">
            <img src="{% static 'images/GrayBall_dark_icon.png' %}" alt="Gray Ball" />
            <span class="logo-text">Grayball</span>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'start_new_search_session' %}">New Search</a></li>
            <li><a href="{% url 'history' %}">History</a></li>
<!--            <li><button id="try-pro-btn" class="try-pro">Try Pro</button></li>-->
        </ul>

    </nav>
    <div class="username-container">
        <button id="username-btn" class="username-btn">{{ user.username }}</button>
        <div id="user-dropdown" class="user-dropdown" style="display: none;">
            <a href="{% url 'account_details' %}" class="dropdown-item">
                <i class="fas fa-user"></i> Account Details
            </a>
            <a href="{% url 'logout' %}" class="dropdown-item">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>
        </div>
    </div>
    <!-- Main Content -->
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
    {% block additional_js %}
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}
</body>
</html>
