{% extends 'base.html' %}

{% load static %}

{% block title %}Grayball{% endblock %}

{% block additional_css %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Main Content -->
    <div id="sessionLimitModal" class="modal-attr">
            <div class="modal-card">
                <p class="modal-text">You have reached the limit of 5 messages per session.</p>
                <a href="{% url 'start_new_search_session' %}" class="modal-btn">Start New Session</a>
            </div>
    </div>
    <div class="container mx-auto text-center py-10">
        <!-- Branding and Welcome Text -->
        <h2 class="text-4xl font-semibold mb-10">Let's cricket!</h2>
        <p class="mb-6" style="color: #6c757d;">Please note: This tool is currently in its Beta phase. We're excited to have you on board as we refine its capabilities. During this period, it's possible you might encounter some inaccuracies as we work to perfect the experience.</p>



        <!-- Search Box -->
        <div class="search-box-container relative inline-block">
            <textarea id="search-input" class="search-input" placeholder="Ask anything about cricket..."></textarea>
            <button id="search-button" class="search-button">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
        </div>
        <!-- Loading Animation (Initially Hidden) -->

        <!-- Chat Interface for displaying messages and responses -->
        <div id="chat-interface">
            <!-- Sample User Query -->
            <!-- Future messages will be appended here by JavaScript -->
        </div>
        <div id="loading-animation" class="hidden">

                <img src="{% static 'images/loading2.gif' %}" width="250" height="250" alt="Loading..." />

        </div>
        <div id="results" style="display: none;">

        <!-- Results will be displayed here -->
        </div>



    </div>




    </div>
{% endblock %}

{% block additional_js %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
